*{
    margin: 0;
    padding:0;
}


body{
    display: flex;
    flex-direction: column;
    
    justify-content: center;

    align-items: center;
    min-height: 80vh;
}

input{
    height: 50px;
    padding-left:  10px;
    
}


.partners-div{
    margin-top: 50px;
}

.name-div , .partners-div{
    margin-top: 50px;
    
    height: 60px;
    width: 190px;
   display: flex;
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   
    
    
    
}

.name-div{
    background:linear-gradient(lightgreen,skyblue);
   
}

.partners-div{
    background: linear-gradient(rgb(221, 27, 228),rgb(140, 14, 212));
}

.name,.partner-name{
  border: none;
    
    
}



input:focus{
    outline: none;
}

.display{
    margin-top: 50px;
    font-size: 2rem;
    font-weight: bold;
    color: plum;
}